html {
  scroll-behavior: smooth;
}

body{
	text-align:center;
	color:black;
	background-image: url(../images/back.jpg);
	background-repeat:no repeat;
	background-size:cover;
	margin:0;
}

a {
	text-decoration:none;
 }
 
 p{
	 font-family:'Gloria Hallelujah', cursive;
	 text-align:justify;
	 margin:10px;
 }
 
 h3{
	 font-family: 'Permanent Marker', cursive;
	 font-size: 50px;
	 margin-top: 10px;
 }

 .button1 {
	 color: white;
	 padding-top: 13px;
	 font-size: 33px;
	 box-shadow: 3px 0px #000fff;
	 text-align:center;
	 padding-bottom:13px;
 }
 
 .button1:hover {
	 color: black;
 }
 
 #home{
	 color: white;
	 font-size:25px;
	 box-shadow: 3px 0px #000fff;
	 margin:0;
	 text-align:center;
	 display:grid;
	 grid-gap:0;
	 grid-template-columns:repeat(2,1fr);
	 padding-right:80px;
	 

 }
 
 #home:hover {
	 color: black;
 }
 
  #home img{
	 padding-left:30px;
 }
 
 
 .main-header {
	 margin-bottom:6px;
	 margin:0;


 }
 
 #main-menu {
	 background:#1e0355;
	 list-style:none;
	 text-align:center;
	 padding:5px;
	 display:grid;
	 grid-gap:5px;
	 grid-template-columns:repeat(4,1fr);
	 margin:0;
 }
 
 
 .showcase{
	 margin-right:6px;
	 margin-left:6px;
	 margin-top:20px;
 }
 
 /* MAIN ARTICLE SECTION */
 
 .main-article{
	 display:grid;
	 grid-template-columns: 1fr 1fr 1fr 1fr;
	 grid-template-rows: 1fr 1fr 1fr;
 }
 
 .one{
	 text-align:center;
	 display:grid;
	 grid-gap:10px;
	 grid-template-columns: 1fr 1fr;
	 margin-right: 10px;
	 margin-left: 10px;
	 margin-top: 160px;
	 margin-bottom:140px; 
	 grid-column:1/4;
	 grid-row:1/2;
	  
 }
 
 .title1{
	 text-align: center;
	 font-size:50px;
	 margin-left:44px;
	 
 }
 
 .one p{
	 margin-bottom:25px;
	 font-size:28px;
	 margin-left: 20px;
	
 }
 
 
 .one img{
	 margin-top: 140px;
 }
 
 
 .two {
	 display:grid;
	 grid-gap:10px;
	 grid-template-columns: 1fr 1fr;
	 margin-right: 20px;
	 margin-left: 10px;
	 margin-top:30px;
	 margin-bottom:0px;
	 grid-column:1/4;
	 grid-row:2/3;
 }
 
 .two p{
	 margin-bottom:25px;
	 font-size:28px;
	 margin-left: 20px;
	
 }
 
 .two img{
	 margin-top:210px;
 }
 
 .three {
	 display:grid;
	 grid-gap:50px;
	 grid-template-columns: 1fr 1fr;
	 margin-right: 20px;
	 margin-left: 15px;
	 margin-top:30px;
	 margin-bottom:0; 
	 grid-column:1/5;
	 grid-row:3/4;
 }
 
 .title3{
	 font-size: 60px;
 }
 
 .three p{
	 margin-bottom:40px;
	 font-size: 20px;
 }
 
 .three img{
	 margin-top:160px;
 }
 
  .four {
	 margin-top:100px;
	 margin-right:20px;
	 margin-left: 0;
	 margin-bottom:0px;
	 grid-column:4/5;
	 grid-row:1/3;
	
 }
 
 .four p{
	 font-size:28px;
	 margin-top:50px;
 }
 
 .title4{
	 font-size:48px;
	 margin:30px;
	 margin-top:60px;
	 margin-bottom: 80px;
 }
 
 .four img{
	 margin-top:200px;
 }
 
  .watch{
	 background:#0d6496;
	 color:white;
	 padding:8px;
	 margin-bottom: 6px;

 }
 .watch:hover{
	 background: black;
	 color:#0d6496;
 }
 
 .footer{
	 padding: 5px;
	 margin-top: 60px;
	 background: #0c0d4a;
	 text-align: right;
	 color:white;
	 list-style:none;
 }
 
 #top{
	 padding:3px;
	 background:#0d6496;
	 color:white;
	 padding:5px;
 }
 
 #top:hover{
	 color:black;
 }
 
  #hm{
	 padding:3px;
	 background:#0d6496;
	 color:white;
	 padding:5px;
 }
 
 #hm:hover{
	 color:black;
 }
 
 
 .end{

	 text-align:center;
 }

 .end i{
	 color: #fff;
	 padding:0 60px 0 60px;
 }

 
 
 
 
 